<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Подключаем CSS -->
</head>

<body>
    <h1>To-Do List</h1>
    <form action="/add" method="post">
        <input type="text" name="task" placeholder="Введите задачу" required aria-label="Новая задача">
        <button type="submit">Добавить</button>
    </form>

    <ul>
        {{range $index, $todo := .}}
        <li>
            <form action="/complete" method="post" style="display:inline;">
                <input type="hidden" name="index" value="{{$index}}">
                <span class="{{if $todo.Complete}}completed{{else}}task{{end}}"
                    onclick="this.parentElement.submit()">{{.Task}}</span>
            </form>
        </li>
        {{else}}
        <li>Нет задач</li>
        {{end}}
    </ul>
</body>

</html>